*{
    box-sizing: border-box;
}

div{
  min-height: 100px;
  min-width: 100px;
  border: 1px solid black;
  margin: 5px;
}

.huber {
  background-color: pink;

}

.meier {
  background-color:blue;  }

  #lisa {
    background: #5e2028;

  }

  
  #sepp {
    background:green;

  }

  div#lisa.meier {
    background: red;
  }

  .huber #lisa.meier {
    background: black;
  }

  div.huber #lisa.meier {
    background: yellow;

  }

  html body div.huber div#lisa.meier {
    background: grey;
  }

  #brigitte{
    background: coral !important;
  }